<script type="text/ng-template" id="session_resume_dialog.html">
<div class="modal-header">
    <h3 class="modal-title">
    {{ 'session.resuming'|trans }}
    </h3>
</div>
<div class="modal-body">
    <p>{{ 'session.resuming.question'|trans }}</p>
    <p>
        <input type="checkbox" id="chk_resume" ng-model="startNewSession" /><label for="chk_resume">{{ 'session.resuming.start_new_checkbox_label'|trans }}</label>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'OK'|trans }}</button>
</div>
</script>