{% trans_default_domain "panel" %}
<div type="text/ng-template" id="textarea_dialog.html">
    <div class="modal-body">
    {% embed "ConcertoPanelBundle::form_v_single.html.twig" %}
        {% trans_default_domain "panel" %}
        {% block legend %}{%verbatim%}{{title}}{%endverbatim%}{% endblock %}
        {% block legend_tooltip %}{%verbatim%}{{tooltip}}{%endverbatim%}{% endblock %}
        {% block control %}
            <textarea ng-model="value" ng-readonly="readonly" style="width:100%;" class='form-control' ng-model-options='{ updateOn: "blur" }'></textarea>
        {% endblock %}
    {% endembed %}
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="close()" ng-hide="readonly">{{ 'form.button.change'|trans }}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{ 'form.button.cancel'|trans }}</button>
    </div>
</div>
