/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/nbproject/
/composer.phar
/app/config/parameters.yml
/app/config/parameters_administration.yml
/app/config/parameters_test_runner.yml
/app/config/parameters_uio.yml
/.idea
*.iml
/.web-server-pid