/vendor/
/web/bundles/concertopanel/
/nbproject/
/app/cache/
/app/logs
/web/bundles/concertotest/
/bin/
/composer.phar
/app/config/parameters.yml
/src/Concerto/PanelBundle/Resources/public/angularjs/test/protractor-conf.js