/vendor/
/web/bundles/
/nbproject/
/app/cache/
/app/logs
/bin/
/composer.phar
/app/config/parameters.yml
/app/config/parameters_administration.yml
/app/config/parameters_nodes.yml
/app/config/parameters_test_runner.yml
/app/config/parameters_uio.yml
/.idea
/app/bootstrap.php.cache