{% extends "::base_include.html.twig" %}
{% trans_default_domain "panel" %}

{% block content %}
    <div class="moduleList" ng-show="tabSection == 'list'">
        {{ include("ConcertoPanelBundle::list.html.twig", {'class_name':class_name}) }}
    </div>

    <div class="moduleForm" ng-show="tabSection == 'form'">
        {{ render(controller("concerto_panel." ~ class_name ~ "_controller:formAction")) }}
    </div>
{% endblock %}