parameters:
    panel_nodes:
        - { id: panel, local: true, protocol: http, host: localhost, dir: /, connection: local, hash: someRandomHash }
    test_nodes:
        - { id: test, local: true, protocol: http, host: localhost, dir: /, connection: local, hash: someRandomHash }