parameters:
    panel_nodes:
        - { id: local, protocol: http, host: localhost, dir: /, connection: local, hash: someRandomHash }
    test_nodes:
        - { id: local, protocol: http, host: localhost, dir: /, connection: local, hash: someRandomHash }