parameters:
    env(CONCERTO_PLATFORM_URL): http://localhost/
    test_runner_settings:
        max_idle_time: 3900
        max_execution_time: 30
        keep_alive_interval_time: 60 #0 for none
        keep_alive_tolerance_time: 130
        r_environ_path: null
        php_exec: php
        rscript_exec: Rscript
        timer_type: server #client or server
        session_forking: true #only Linux, experimental
        connection: local
        platform_url: "%env(CONCERTO_PLATFORM_URL)%" #must end with /