parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: null
    database_name: ThisIsYourDatabaseName
    database_user: ThisIsYourDatabaseUserName
    database_password: ThisIsYourDatabaseUserPassword
    database_path: null
    database_unix_socket: null
    database_version: 5.7
    test_database_name: ThisIsYourTestDatabaseName #not needed for production env
    test_database_user: ThisIsYourTestDatabaseUserName #not needed for production env
    test_database_password: ThisIsYourTestDatabaseUserPassword #not needed for production env
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en_GB
    secret: ThisTokenIsNotSoSecretChangeIt