parameters:
    database_driver: pdo_mysql
    env(DB_HOST): 127.0.0.1
    env(DB_PORT): null
    env(DB_NAME): ThisIsYourDatabaseName
    env(DB_USER): ThisIsYourDatabaseUserName
    env(DB_PASSWORD): ThisIsYourDatabaseUserPassword
    database_path: null
    database_unix_socket: null
    env(DB_VERSION): 5.7
    env(DB_TEST_HOST): 127.0.0.1
    env(DB_TEST_PORT): null
    env(DB_TEST_NAME): ThisIsYourTestDatabaseName #not needed for production env
    env(DB_TEST_USER): ThisIsYourTestDatabaseUserName #not needed for production env
    env(DB_TEST_PASSWORD): ThisIsYourTestDatabaseUserPassword #not needed for production env
    locale: en_GB
    secret: ThisTokenIsNotSoSecretChangeIt
    env(CONCERTO_BEHIND_PROXY): false
    behind_proxy: '%env(CONCERTO_BEHIND_PROXY)%'
    env(CONCERTO_JWT_SECRET): changeme
    env(WEB_USER): www-data
    web_user: '%env(WEB_USER)%'
    env(CONCERTO_PHP_SESSION_SAVE_PATH): '%kernel.project_dir%/var/sessions/%kernel.environment%'