.CodeMirror-fullscreen {
    display: block;
    position: fixed !important;
    z-index: 9999;
    margin: 0;
}

.modal-dialog {
    transform: none !important;
    -webkit-transform: none !important;
}

.red {
    color: red;
}

.green {
    color: green;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.modal-prc-lg {
    width: 90%;
}

.clickable {
    cursor: pointer;
}