.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    min-height: 30px;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

.CodeMirror-wrap pre {  word-break: break-all; }