<src>
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="robots" content="noindex"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Concerto Platform</title>
			<link rel="stylesheet" href="{{app_url}}/bundles/concertotest/css/test.css"/>
			<link rel="stylesheet" href="{{app_url}}/bundles/concertotest/angularjs/bower_components/jquery-ui/themes/base/jquery-ui.min.css"/>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/bower_components/jquery/dist/jquery.min.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/bower_components/jquery-ui/jquery-ui.min.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/bower_components/angular/angular.min.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/bower_components/angular-cookies/angular-cookies.min.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/app/js/app.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/app/js/controllers/test_runner_controller.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/app/js/directives/concerto_test_directive.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertopanel/angularjs/app/concerto_panel/js/directives/ng-html.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/angularjs/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
			<script type="text/javascript" src="{{app_url}}/bundles/concertotest/js/customevent-polyfill.js"></script>
			<link rel="icon" type="image/x-icon" href="{{app_url}}/favicon.ico"/>
		</head>
		<body ng-app="testRunner" ng-cloak>
			{{content}}
		</body>
	</html>
</src>