{% extends "::base_include.html.twig" %}
{% trans_default_domain "DataTable" %}

{% block content %}
    <div class="center">
        <button ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" class="btn btn-success btn-sm" ng-click="addStructure()">{{ 'structure.list.add'|trans }}</button>
        <button ng-disabled="object.starterContent && !administrationSettingsService.starterContentEditable" class="btn btn-danger btn-sm" ng-click="deleteSelectedStructure()">{{ 'structure.list.delete.checked'|trans }}</button>
        <button ng-click="gridService.downloadList(structureGridApi);" class="btn btn-default btn-sm">{{ "list.button.download"|trans({},"panel") }}</button>
    </div>
    <div ui-grid="structureOptions" ui-grid-auto-resize ui-grid-cellNav ui-grid-resize-columns ui-grid-exporter ui-grid-selection ui-grid-move-columns class="grid"></div>
{% endblock %}
