<input name="r[[item.id]]" ng-model="response.value" ng-required="responseRequired && response.skipped == 0" style="display: none;" />
<div class="question-choices" ng-class="responseOptionsStyle" ng-style="choiceContainerStyle">
	<div class="question-choice" ng-class="{'selected': option.value.toString() === response.value.toString()}" ng-click="selectResponse(option)" ng-repeat="(optionIndex, option) in item.responseOptions.options">
		<div class="question-choice-label" ng-html="option.label">
		</div>
	</div>
</div>
