exports.config = {
    framework: 'jasmine',
    baseUrl: 'http://domain.com/app_test.php',
    seleniumAddress: 'http://127.0.0.1:4444/wd/hub',
    specs: [
        'e2e/page_objects/*.js',
        'e2e/scenarios/*.js'
    ],
    capabilities: {
        browserName: 'firefox'
    },
    jasmineNodeOpts: {
        showColors: true
    }
};
