{% extends "::base_include.html.twig" %}
{% trans_default_domain "TestWizard" %}

{% block content %}
    <uib-alert type="warning" ng-if="object.steps == 0">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        {{ 'alerts.no_steps'|trans }}
    </uib-alert>

    <uib-tabset ng-if="object.steps != 0">
        <uib-tab ng-repeat="step in object.steps">
            <uib-tab-heading>{% verbatim %}{{ step.title }}{% endverbatim %}</uib-tab-heading>
            <div ng-controller="TestWizardCarouselStepController">
                <div class="bs-callout bs-callout-info" align="left">
                    <h3 ng-bind="step.title"></h3>
                    <p ng-bind-html="step.description | trustedHtml"></p>
                </div>
                <uib-alert type="warning" ng-if="step.params == 0">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                    {{ 'alerts.no_params'|trans }}
                </uib-alert>
                <div ng-repeat="param in step.params | orderBy: 'order' track by $index">
                    <wizard-param-setter param="param" parent="null" output="param.output" mode="outer"
                                         wizard-mode="{{ wizard_mode }}" values="values" wizard-object="object"
                                         under-list="false"></wizard-param-setter>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>

{% endblock %}