<script type="text/ng-template" id="type_4_definer.html">
    <div ng-controller="WizardParamDefiner4Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_definer.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block definition %}
                {% embed "ConcertoPanelBundle::form_v_single.html.twig" %}
                    {% trans_default_domain "TestWizard" %}
                    {% block legend %}{% verbatim %}{{ testWizardParamService.getDefinerTitle(param) }}{% endverbatim %}{% endblock %}
                    {% block legend_tooltip %}{{ 'param.definer.titles.checkbox.tooltip'|trans }}{% endblock %}
                    {% block control %}
                        <input type="checkbox" ng-model="param.definition.defvalue" ng-true-value="'1'"
                               ng-false-value="'0'"
                               ng-disabled="wizardObject.starterContent && !administrationSettingsService.starterContentEditable" />
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
</script>