<script type="text/ng-template" id="type_1_definer.html">
    <div ng-controller="WizardParamDefiner1Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_definer.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block definition %}
                {% embed "ConcertoPanelBundle::form_v_single.html.twig" %}
                    {% trans_default_domain "TestWizard" %}
                    {% block legend %}{% verbatim %}{{ testWizardParamService.getDefinerTitle(param) }}{% endverbatim %}{% endblock %}
                    {% block legend_tooltip %}{{ 'param.definer.titles.multi_line.tooltip'|trans }}{% endblock %}
                    {% block control %}
                        <textarea ng-model="param.definition.defvalue" class='form-control'
                                  ng-model-options='{ updateOn: "blur" }'
                                  ng-disabled="wizardObject.starterContent && !administrationSettingsService.starterContentEditable"
                                  ng-trim="false"></textarea>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
</script>