<script type="text/ng-template" id="type_4_setter.html">
    <div ng-controller="WizardParamSetter4Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_setter.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block setter %}
                <input type="checkbox" ng-model="output" ng-change="onPrimitiveValueChange(output)" ng-true-value="'1'"
                       ng-false-value="'0'"
                       ng-disabled="wizardObject.starterContent && !administrationSettingsService.starterContentEditable" />
            {% endblock %}
        {% endembed %}
    </div>
</script>