<script type="text/ng-template" id="type_2_setter.html">
    <div ng-controller="WizardParamSetter2Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_setter.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block setter %}
                {% embed "ConcertoPanelBundle::form_v_single.html.twig" %}
                    {% trans_default_domain "TestWizard" %}
                    {% block legend %}{% verbatim %}{{ title }}{% endverbatim %}{% endblock %}
                    {% block legend_tooltip %}{{ 'param.setter.titles.html.tooltip'|trans }}{% endblock %}
                    {% block control %}
                        <textarea ckeditor="htmlEditorOptions" ng-model="output"
                                  ng-change="onPrimitiveValueChange(output)" class='form-control'
                                  ng-disabled="wizardObject.starterContent && !administrationSettingsService.starterContentEditable"></textarea>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
</script>