<script type="text/ng-template" id="type_3_setter.html">
    <div ng-controller="WizardParamSetter3Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_setter.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block setter %}
                <select ng-model="output" ng-change="onPrimitiveValueChange(output)" style="width:100%;"
                        ng-disabled="!editable"
                        class='form-control'>
                    <option ng-repeat="opt in param.definition.options | orderBy:'order'" ng-value="opt.value" ng-bind="opt.label"></option>
                </select>
            {% endblock %}
        {% endembed %}
    </div>
</script>