<script type="text/ng-template" id="type_9_setter.html">
    <div ng-controller="WizardParamSetter9Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_setter.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block setter %}
                {% embed "ConcertoPanelBundle::form_v_single.html.twig" %}
                    {% trans_default_domain "TestWizard" %}
                    {% block legend %}{% verbatim %}{{ title }}{% endverbatim %}{% endblock %}
                    {% block legend_tooltip %}{{ 'param.setter.titles.group.tooltip'|trans }}{% endblock %}
                    {% block control %}
                        <div ng-repeat="field in param.definition.fields | orderBy: 'order' track by $index">
                            <wizard-param-setter param="field" output="output[field.name]" mode="outer" values="values"
                                                 parent="output" under-list="underList" wizard-object="wizardObject"
                                                 wizard-mode="{% verbatim %}{{ wizardMode }}{% endverbatim %}"></wizard-param-setter>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}
    </div>
</script>