{% extends "::base_include.html.twig" %}
{% trans_default_domain "TestWizard" %}

{% block content %}
    <!-- mode: dialog/outer/grid -->
    <div ng-if="testWizardParamService.isParamVisible(param, parent, values)" ng-class="{'bs-callout': mode == 'outer', 'bs-callout-warning': mode == 'outer'}">
        <h4 ng-bind="param.label" class="carouselParamHeader" ng-if="mode == 'outer'"></h4>
        <p ng-bind-html="param.description | trustedHtml" ng-if="mode == 'outer'"></p>

        <div ng-if="mode=='dialog' || !isSetterComplex">{% block setter %}{% endblock %}</div>
        <div ng-if="mode!='dialog' && isSetterComplex">
            <i class='glyphicon glyphicon-align-justify clickable' ng-click='launchSetterDialog(param, output, parent, values, wizardObject)' uib-tooltip-html='"{{ 'param.form.field.setter.icon.tooltip'|trans }}"' tooltip-append-to-body='true'></i>
            <span class="wizardParamSummary">{%verbatim%}{{summary}}{%endverbatim%}</span>
        </div>
    </div>
{% endblock %}