<script type="text/ng-template" id="type_3_setter.html">
    <div ng-controller="WizardParamSetter3Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_setter.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block setter %}
                <select ng-model="output" ng-change="onPrimitiveValueChange(output)" style="width:100%;"
                        ng-options="opt.value as opt.label for opt in param.definition.options | orderBy:'order'"
                        ng-disabled="wizardObject.starterContent && !administrationSettingsService.starterContentEditable"
                        class='form-control'>
                    <option value="">{{ "none.choosen"|trans({},"panel") }}</option>
                </select>
            {% endblock %}
        {% endembed %}
    </div>
</script>