<script type="text/ng-template" id="type_6_setter.html">
    <div ng-controller="WizardParamSetter6Controller">
        {% embed "ConcertoPanelBundle:TestWizard:type_base_setter.html.twig" %}
            {% trans_default_domain "TestWizard" %}
            {% block setter %}
                <select ng-model="output" ng-change="onPrimitiveValueChange(output)"
                        ng-disabled="wizardObject.starterContent && !administrationSettingsService.starterContentEditable"
                        class='form-control'
                        ng-options="table.name as table.name for table in dataTableCollectionService.collection | filter : {'archived':'!1'} | orderBy: 'name'">
                    <option value="">{{ "none.choosen"|trans({},"panel") }}</option>
                </select>
            {% endblock %}
        {% endembed %}
    </div>
</script>