<src>
	{{template:inputSingleLine,css=FALSE,html=FALSE}}
	{{template:inputMultiLine,css=FALSE,html=FALSE}}
	{{template:inputNumber,css=FALSE,html=FALSE}}
	{{template:inputCheckbox,css=FALSE,html=FALSE}}
	{{template:inputSelect,css=FALSE,html=FALSE}}
	{{template:inputPassword,css=FALSE,html=FALSE}}
	{{template:inputDate,css=FALSE,html=FALSE}}
	{{template:inputSlider,css=FALSE,html=FALSE}}
</src>
<div class="body" ng-controller="form">
	{{template:header}}
	<div class="questions">
		<div class="container">
			<div class="instructions" ng-if="instructions">
				{{instructions}}
			</div>

			<form name="form">
				<div ng-repeat="field in fields track by $index">
					<div class="form-field">
						<div ng-switch="field.type">
							<src>
								<input-single-line field="field" ng-switch-when="singleLine" values="values"></input-single-line>
								<input-multi-line field="field" ng-switch-when="multiLine" values="values"></input-multi-line>
								<input-number field="field" ng-switch-when="number" values="values"></input-number>
								<input-checkbox field="field" ng-switch-when="checkbox" values="values"></input-checkbox>
								<input-select field="field" ng-switch-when="select" values="values"></input-select>
								<input-password field="field" ng-switch-when="password" values="values"></input-password>
								<input-date field="field" ng-switch-when="date" values="values"></input-date>
								<input-slider field="field" ng-switch-when="slider" values="values"></input-slider>
							</src>
						</div>

						<div class="form-error" ng-repeat="error in field.validation" ng-show="form[field.name].$error[error.type] && form[field.name].$dirty">
							[[error.alert]]
						</div>
					</div>
				</div>

				<div class="question-footer">
					<button class="main-btn right-btn" id="submitButton" name="submit" ng-disabled="form.$invalid">
						{{buttonLabel}}
					</button>
				</div>
			</form>
		</div>
	</div>
	{{template:footer}}
</div>
